<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit Product</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <div class="float-left">
                    <!--<h4>New Product</h4>-->
                    <div class="card-body">
                        <!--<form class="needs-validation" novalidate [formGroup]="productForm" style="padding-top: 10px">-->
                        <form [formGroup]="productForm" (ngSubmit)="updateForm()" fxLayout="column"
                            fxLayoutAlign="space-between" style="padding-top: 10px; column-width: 650px;"
                            onshow="findById(_id)">
                            <input id="updateId" type="hidden" formControlName="_id" />
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Product name"
                                        formControlName="name" [(ngModel)]="prodName"
                                        [ngClass]="{'is-invalid': submitted && hasError('name')}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="description">Description</label>
                                    <input type="text" class="form-control" id="description"
                                        placeholder="Product description" [(ngModel)]="prodDescription"
                                        formControlName="description">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="price">Price</label>
                                    <input type="number" class="form-control" id="price" placeholder="Product price"
                                        value=1.00 [(ngModel)]="prodPrice" formControlName="price">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark"
                    (click)="updateForm(_id);modal.close('Save click')">Save</button>
            </div>
        </div>
    </div>
</ng-template>

<div class="card">
    <div class="card-header">
        <div class="float-left">
            <h4>Products</h4>
        </div>
        <div class="float-right">
            <button type="button" class="btn btn-primary" [routerLink]="['new']" routerLinkActive="router-link-active" >New Product</button>
            <a color="accent" *ngIf="!authService.loggedIn()" routerLink="login" routerLinkActive="active">Login</a>
            <a color="accent" *ngIf="authService.loggedIn()" (click)="authService.logoutUser()" routerLink="login" routerLinkActive="active">Logout</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Details</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td> {{ product.id }} </td>
                    <td> {{ product.name }} </td>
                    <td> R$ {{ product.price }} </td>
                    <td> {{ product.description }} </td>
                    <td>
                        <span class="float-right">
                            <!--<button type="button" class="btn btn-outline-info mg-1 btn-sm">
                                Details
                            </button>-->
                            {{ ' ' }}
                            <button class="btn btn-outline-warning btn-sm" (click)="editProduct(product);open(mymodal)">
                                Edit
                            </button>
                            {{ ' ' }}
                            <button class="btn btn-outline-danger btn-sm" (click)="deleteProduct(product)">
                                Delete
                            </button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


    